h1 #{title}
p You've successfully created a bingo game!
p You're game url is <a href="#{gameUrl}" target="_blank">#{gameUrl}</a>
p Send this url to everyone playing: <a href="#{controlUrl}" target="_blank">#{controlUrl}</a>
